body{
	/*background: #f6f6f6;*/

}
#intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 200px 0;
	text-align: center;
	color: #fff;
	background: url(../img/header2.jpg) no-repeat center center fixed;
	/*background-color: #fff;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

}
#intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
#intro .intro-body H1 {
	font-size: 76px;
	font-weight: 700;	
	color: #f0eff3;
}
#intro .intro-body p{
	color: #f0eff3;
}

#intro .intro-body .intro-text {
	font-size: 20px;
	margin-bottom: 100px;
}
.main-btn {
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 8px;
	margin: 10px;
	font-size: 14px;
	transition: all 0.5s;

}
.main-btn.white-btn {
	border: 1px solid #f0eff3;
	color: #f0eff3;
	text-decoration: none;

}
.main-btn.white-btn:hover, .main-btn.white-btn:focus, .main-btn.white-btn.focus, .main-btn.white-btn:active, .main-btn.white-btn.active {
	background-color: #f0eff3;
	color: #333;

}

.section-title.center {
	padding: 100px 0;
}

/* about section */
#about{
	font-family: 'Open Sans', sans-serif;
}
h3{
	/*margin-top: 5px;*/
	
}

hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background:#212529 ;
	margin: 0 auto;
	margin-bottom: -30px;
	border: 0;
}
p{
	font-size: 15px;
}


#portofolio{
	background-color: #42A4AF;
	font-family: white;
	
}

.isi img{
	height:205px;
	width:100%;
	position: relative;
}
.isi-body{
	color: #fff;
}
